<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

<body ng-app="SignupModule" ng-controller="SignupController" ng-cloak>

    <h1>Signup {{1+1}}</h1>
</body>

</html>
